<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>HoPE - Login</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% load static %}
  <!-- Favicons -->
  <link href="{% static 'img/LOGO.png' %}" rel="icon">
  <link href="{% static 'img/HoPE.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css2/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css2/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css2/animate.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/slider/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/slider/css/owl.theme.default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css2/login.css' %}" />
</head>

    <body class="form-login-body"> 
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto login-desk">
                       <div class="row">
                            <div class="col-md-7 detail-box">
                                <img class="logo" src="{% static 'images/HoPE.png' %}" alt=""> 
                                <div class="detailsh">
                                     <img class="help" src="{% static 'images/Hope Login (4).png' %}" alt="">
                                    <h2><b>Welcome to HoPE</b></h2>
                                    <p>blow off well pardon me old lurgy absolutely bladdered bodge</p>
                                </div>
                            </div>
                            <div class="col-md-5 loginform">
                                 <h4>Welcome Back</h4>                   
                                 <p>Sign In to your Account or <a href="">Create Account</a></p>
                                 <div class="login-det">
                                <form method="post" enctype="multipart/form-data" action="{% url 'test' %}">
                                {% csrf_token %}
                                    <div class="form-row">
                                         <label for="">Username</label>
                                             <div class="input-group mb-3">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <i class="far fa-user"></i>
                                                </span>
                                              </div>
                                              <input type="text" name="username" class="form-control" placeholder="Enter Username" aria-label="Username" aria-describedby="basic-addon1">
                                         </div>
                                    </div>
                                     <div class="form-row">
                                         <label for="">Password</label>
                                             <div class="input-group mb-3">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <i class="fas fa-lock"></i>
                                                </span>
                                              </div>
                                              <input type="text" name="password" class="form-control" placeholder="Enter Password" aria-label="Username" aria-describedby="basic-addon1">
                                         </div>
                                    </div>
                                
                                    
                                    <p class="forget"><a href="">Forgot Password?</a></p>
                                    
                                    
                                    <button class="btn btn-sm btn-danger" type="submit">Login</button>
                                
                                </form>
                                    <!-- <p class="account"><a href="">Create Account</a></p> -->
                                    
                                    <div class="social-link">
                                        <ul class="socil-icon">
                                            <h6>Or Sign In using</h6>
                                            <li>
                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fab fa-google"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fab fa-instagram"></i></a> 
                                            </li>
                                            <!-- <li>
                                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fab fa-dribbble"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fab fa-behance"></i></a>
                                            </li> -->
                                       </ul>
                                    </div>
                                    
                                 </div>
                            </div>
                       </div>
                      
                    </div>
                </div>
            </div>
    </body>

    <script src="{% static 'js2/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'js2/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/scroll-fixed/jquery-scrolltofixed-min.js' %}"></script>
    <script src="{% static 'plugins/slider/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js2/script.js' %}"></script>
</html>
<!-- <!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Free Tour and Travel Website Tempalte | Smarteyeapps.com</title>
    <link rel="shortcut icon" href="assets/images/fav.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="assets/images/fav.jpg">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/plugins/slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/plugins/slider/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
</head>

    <body>
             
             
             
    </body>

    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
    <script src="assets/plugins/slider/js/owl.carousel.min.js"></script>
    <script src="assets/js/script.js"></script>
</html> -->
