<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <!-- Favicons -->
  <link href="{% static 'img/LOGO.png' %}" rel="icon">
  <link href="{% static 'img/HoPE.png' %}" rel="apple-touch-icon">
  <script src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
<link href="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet"/>

  <title>PCOD Prediction</title>

  

  <!-- <script src="https://kit.fontawesome.com/47101d2035.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <!-- <link rel="stylesheet" href="{% static 'css/PCOD.css' %}"> -->
    <link href="{% static 'css/PCOD.css' %}" rel="stylesheet">
</head>


<body>

  <header id="header">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a style="font-family: Poppins, sans-serif;" href="{% url 'home' %}">HoPE</a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <!-- <li><a class="dropdown" href="#services">Services</a></li> -->
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                {% if id %}
                <li><a href="{% url 'HA' user_id=id %}">Heart Attack Probability</a></li>
                <li><a href="{% url 'PCOD' user_id=id %}">PCOD</a></li>
                {% else %}
                <li><a href="#">Heart Attack Probability</a></li>
                <li><a href="#">PCOD</a></li>
                {% endif %}
              <li><a href="">Myopia</a></li>
              <li><a href="">Colour Blindness</a></li>
            </ul>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="{% static 'img/logo.png' %}" alt="" class="img-fluid"></a>-->
            {% if id %}
      <a style="color:#1977cc" href="{% url 'dashboard' user_id=id %}"> <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
      <a href="{% url 'login' %}" class="appointment-btn scrollto"><span class="d-none d-md-inline">Logout</span></a>
      {% else %}
      <a href="{% url 'login' %}" class="appointment-btn scrollto"><span class="d-none d-md-inline">Login /</span> Signup</a>
      {% endif %}
      <a href="{% url 'home' %}" class="appointment-btn scrollto"><span class="d-none d-md-inline">Home Page</span></a>
    

    </div>
  </header><!-- End Header -->

  <section class="masthead">
    <div class="container" >
        <div class="row align-items-center">
            <div class="col-lg-7 py-5">
                <h1 class="mb-4"><i class="fa fa-ribbon fa-2x my-2"></i> PCOD</h1>
                <h2 class="m-0">
                    PCOD (Polycystic Ovarian Disease) is a medical condition in which the woman ovaries produce immature or partially mature eggs in large numbers and over the time these become cysts in ovaries. Worldwide, PCOD affects 6% to 10% of women, making it the most common endocrine disorder in women of childbearing age.
By the age of 40, 40% of women with PCOD develop pre-diabetes or diabetes.<br>Take your test now </h2>
            </div>
            <div class="col-lg-5">
                <div class="py-5 px-4 masthead-cards">
                    <div class="d-flex">
                        <a href="#" class="w-50 pr-3 pb-4">
                            <div class="card border-0 border-bottom-red shadow-lg shadow-hover">
                                <div class="card-body text-center">
                                    <div class="text-center">
                                        <i class="fa fa-pen fa-4x my-2"></i>
                                    </div>
                                    Test
                                </div>
                            </div>
                        </a>
                        <a href="#" class="w-50 pl-3 pb-4">
                            <div class="card border-0 border-bottom-blue shadow-lg shadow-hover">
                                <div class="card-body text-center">
                                    <div class="text-center">
                                        <i class="fa fa-th fa-4x my-2"></i>
                                    </div>
                                  Blogs
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="d-flex">
                        <a href="#" class="w-50 pr-3">
                            <div class="card border-0 border-bottom-yellow shadow-lg shadow-hover">
                                <div class="card-body text-center">
                                    <div class="text-center">
                                        <i class="fa fa-4x fa-code my-2"></i>
                                    </div>
                                   Prediction
                                </div>
                            </div>
                        </a>
                        <a href="{% url 'DoctorInput' %}" class="w-50 pl-3">
                            <div class="card border-0 border-bottom-green shadow-lg shadow-hover">
                                <div class="card-body text-center">
                                    <div class="text-center">
                                        <i class="fa fa-4x fa-list my-2"></i>
                                    </div>
                                  Doctor List
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="shape"></div>
                </div>
            </div>
        </div>
    </div>
    <svg style="pointer-events: none" class="wave" width="100%" height="50px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
        <defs>
            <style>
                .a {
                    fill: none;
                }
                
                .b {
                    clip-path: url(#a);
                }
                
                .c,
                .d {
                    fill: #f9f9fc;
                }
                
                .d {
                    opacity: 0.5;
                    isolation: isolate;
                }
            </style>
            <clipPath id="a">
                <rect class="a" width="1920" height="75"></rect>
            </clipPath>
        </defs>
        <title>wave</title>
        <g class="b">
            <path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path>
        </g>
        <g class="b">
            <path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path>
        </g>
        <g class="b">
            <path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path>
        </g>
        <g class="b">
            <path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path>
        </g>
    </svg>
  </section>

  <!-- <h1 class="logo me-auto">PCOD Prediction</h1> -->

  <!-- <p style="color:rgb(51, 51, 83); font-weight: 700;">
    Can a passenger with your given characteristics survive?
  </p> -->
  <form action="{% url 'result_PCOD' user_id=id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
 
    <section class="bg-12">
      <div class=" container mb-5" >
          <div class="row">
              <div class="col-12">
                  <fieldset>
                  <p class="fw-bold">1.Is your menstural cycle regular?</p>
                  <div class="box"> <input type="radio" name="Q1" id="one" value="y"> <input type="radio" name="Q1" id="two" value="im"> <input type="radio" name="Q1" id="three" value="ib"> <input type="radio" name="Q1" id="four" value="hb"> 
                      <label for="one" class="box first">
                          <div class="course"> <span class="circle"></span> <span class="subject">Yes </span> </div>
                      </label> <label for="two" class="box second">
                          <div class="course"> <span class="circle"></span> <span class="subject"> Infrequent Menses </span> </div>
                      </label> <label for="three" class="box third">
                          <div class="course"> <span class="circle"></span> <span class="subject">Irregular Bleeding </span> </div>
                      </label> <label for="four" class="box forth">
                          <div class="course"> <span class="circle"></span> <span class="subject"> Heavy Bleeding </span> </div>
                      </label>
                  </div>
              </fieldset>
              </div>
          <div class="col-12">
          <fieldset>
              <p class="fw-bold mt-5">2.Are you gaining weight Rapidly?</p>
              <div>
                  <div class="row">
                      <div class="col-md-6 box"> <input type="radio" name="Q2" id="five"value="1"> <label for="five" class="box fifth w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject">Yes</span> </div>
                          </label> </div>
                      <div class="col-md-6 box"> <input type="radio" name="Q2" id="six" value="0"> <label for="six" class="box sixth w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject"> No </span> </div>
                          </label> </div>
                      
                  </div>
              </div>
          </fieldset>
          </div>
          <div class="col-12">
              <p class="fw-bold mt-5">3. Do you have excess of facial or body hair?</p>
              <div>
                  <div class="row">
                      <div class="col-md-6 box"> <input type="radio" name="Q3" id="seven" value="1"> <label for="seven" class="box seveth w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject">Yes</span> </div>
                          </label> </div>
                      <div class="col-md-6 box"> <input type="radio" name="Q3" id="eight" value="0"> <label for="eight" class="box eighth w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject"> No </span> </div>
                          </label> </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-12">
              <p class="fw-bold mt-5">4. Do you have patches of dark areas on your skin?</p>
              <div>
                  <div class="row">
                      <div class="col-md-6 box"> <input type="radio" name="Q4" id="nine" value="1"> <label for="nine" class="box ninth w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject">Yes</span> </div>
                          </label> </div>
                      <div class="col-md-6 box"> <input type="radio" name="Q4" id="ten" value="0"> <label for="ten" class="box tenth w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject"> No </span> </div>
                          </label> </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-12">
              <p class="fw-bold mt-5">5.  Do you suffer from pimples?</p>
              <div>
                  <div class="row">
                      <div class="col-md-6 box"> <input type="radio" name="Q5" id="Q5a" value="1"> <label for="Q5a" class="box fiva w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject">Yes</span> </div>
                          </label> </div>
                      <div class="col-md-6 box"> <input type="radio" name="Q5" id="Q5b" value="0"> <label for="Q5b" class="box fivb w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject"> No </span> </div>
                          </label> </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-12">
              <p class="fw-bold mt-5">6.Are you facing deppression and anxiety?</p>
              <div>
                  <div class="row">
                      <div class="col-md-6 box"> <input type="radio" name="Q6" id="Q6a" value="1"> <label for="Q6a" class="box fiva w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject">Yes</span> </div>
                          </label> </div>
                      <div class="col-md-6 box"> <input type="radio" name="Q6" id="Q6b" value="0"> <label for="Q6b" class="box fivb w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject"> No </span> </div>
                          </label> </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-12">
              <p class="fw-bold mt-5">7. Do you have any family history of Diabetes and/or Hyper Tension?</p>
              <div>
                  <div class="row">
                      <div class="col-md-6 box"> <input type="radio" name="Q7" id="Q7a" value="1"> <label for="Q7a" class="box fiva w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject">Yes</span> </div>
                          </label> </div>
                      <div class="col-md-6 box"> <input type="radio" name="Q7" id="Q7b" value="0"> <label for="Q7b" class="box fivb w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject"> No </span> </div>
                          </label> </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-12">
              <p class="fw-bold mt-5">8. Are you finding any difficulty in maintaining your body weight?</p>
              <div>
                  <div class="row">
                      <div class="col-md-6 box"> <input type="radio" name="Q8" id="Q8a" value="1"> <label for="Q8a" class="box fiva w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject">Yes</span> </div>
                          </label> </div>
                      <div class="col-md-6 box"> <input type="radio" name="Q8" id="Q8b" value="0"> <label for="Q8b" class="box fivb w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject"> No </span> </div>
                          </label> </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-12">
              <p class="fw-bold mt-5">9. Do you have an oily skin?</p>
              <div>
                  <div class="row">
                      <div class="col-md-6 box"> <input type="radio" name="Q9" id="Q9a" value="1"> <label for="Q9a" class="box fiva w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject">Yes</span> </div>
                          </label> </div>
                      <div class="col-md-6 box"> <input type="radio" name="Q9" id="Q9b" value="0"> <label for="Q9b" class="box fivb w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject"> No </span> </div>
                          </label> </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-12">
              <p class="fw-bold mt-5">10. Are you losing lot of hair or has it became thinner in its strength?</p>
              <div>
                  <div class="row">
                      <div class="col-md-6 box"> <input type="radio" name="Q10" id="Q10a" value="1"> <label for="Q10a" class="box fiva w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject">Yes</span> </div>
                          </label> </div>
                      <div class="col-md-6 box"> <input type="radio" name="Q10" id="Q10b" value="0"> <label for="Q10b" class="box fivb w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject"> No </span> </div>
                          </label> </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-12">
              <p class="fw-bold mt-5">11.  Where do you frequently eat?</p>
              <div>
                  <div class="row">
                      <div class="col-md-6 box"> <input type="radio" name="Q11" id="Q11a" value="hf"> <label for="Q11a" class="box fiva w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject">Home Food</span> </div>
                          </label> </div>
                      <div class="col-md-6 box"> <input type="radio" name="Q11" id="Q11b" value="cc"> <label for="Q11b" class="box fivb w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject">Campus Canteen </span> </div>
                          </label> </div>
                          <div class="col-md-6 box"> <input type="radio" name="Q11" id="Q11c" value="hm"> <label for="Q11c" class="box fivc w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject">Hostel Mess</span> </div>
                          </label> </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-12">
              <p class="fw-bold mt-5">12.Do you exercise reguarly?</p>
              <div>
                  <div class="row">
                      <div class="col-md-6 box"> <input type="radio" name="Q12" id="Q12a" value="1"> <label for="Q12a" class="box fiva w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject">Yes</span> </div>
                          </label> </div>
                      <div class="col-md-6 box"> <input type="radio" name="Q12" id="Q12b" value="0"> <label for="Q12b" class="box fivb w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject"> No </span> </div>
                          </label> </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-12">
              <p class="fw-bold mt-5">13.What time do you sleep?</p>
              <div>
                  <div class="row">
                      <div class="col-md-6 box"> <input type="time" name="Q13" id="Q13"> <label for="Q13" >
                              <div class="course"> </div>
                          </label> </div>
                          <!-- <input class="form-control" placeholder="What time do you sleep?" required type="text" name="Q13">  -->
          </div>
          <div class="col-12">
              <p class="fw-bold mt-5">14.What time do you wake up?</p>
              <div>
                  <div class="row">
                      <div class="col-md-6 box"> <input type="time" name="Q14" id="Q14"> <label for="Q14" >
                              <div class="course"> </div>
                          </label> </div>
                          <!-- <input class="form-control" placeholder="What time do you wake up?" required type="text" name="Q14">  -->
          </div>
          <div class="col-12">
              <p class="fw-bold mt-5">15.Are you mentally stressed if it is your first time a hostel?</p>
              <div>
                  <div class="row">
                      <div class="col-md-6 box"> <input type="radio" name="Q15" id="Q15a" value="1"> <label for="Q15a" class="box fiva w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject">Yes</span> </div>
                          </label> </div>
                      <div class="col-md-6 box"> <input type="radio" name="Q15" id="Q15b" value="0"> <label for="Q15b" class="box fivb w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject"> No </span> </div>
                          </label> </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-12">
              <p class="fw-bold mt-5">16. Are you mentally stressed due to personal problems?</p>
              <div>
                  <div class="row">
                      <div class="col-md-6 box"> <input type="radio" name="Q16" id="Q16a" value="1"> <label for="Q16a" class="box fiva w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject">Yes</span> </div>
                          </label> </div>
                      <div class="col-md-6 box"> <input type="radio" name="Q16" id="Q16b" value="0"> <label for="Q16b" class="box fivb w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject"> No </span> </div>
                          </label> </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-12">
              <p class="fw-bold mt-5">17. Are you mentally stressed due to peer presure?</p>
              <div>
                  <div class="row">
                      <div class="col-md-6 box"> <input type="radio" name="Q17" id="Q17a" value="1"> <label for="Q17a" class="box fiva w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject">Yes</span> </div>
                          </label> </div>
                      <div class="col-md-6 box"> <input type="radio" name="Q17" id="Q17b" value="0"> <label for="Q17b" class="box fivb w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject"> No </span> </div>
                          </label> </div>
                      
                  </div>
              </div>
          </div>
          <div class="col-12">
              <p class="fw-bold mt-5">18.Are you mentally stressed due to change in dietry habits?</p>
              <div>
                  <div class="row">
                      <div class="col-md-6 box"> <input type="radio" name="Q18" id="Q18a" value="1"> <label for="Q18a" class="box fiva w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject">Yes</span> </div>
                          </label> </div>
                      <div class="col-md-6 box"> <input type="radio" name="Q18" id="Q18b" value="0"> <label for="Q18b" class="box fivb w-100">
                              <div class="course"> <span class="circle"></span> <span class="subject"> No </span> </div>
                          </label> </div>
                      
                  </div>
              </div>
          </div>


          <div class="col-12">
              <p class="fw-bold mt-5">19.How often do you eat fast foods?</p>
              <div class="box"> <input type="radio" name="Q19" id="Q19a" value="ed"> <input type="radio" name="Q19" id="Q19b" value="w"> <input type="radio" name="Q19" id="Q19c" value="m"> <input type="radio" name="Q19" id="Q19d" value="y"> 
                  <label for="Q19a" class="box first">
                      <div class="course"> <span class="circle"></span> <span class="subject">Everyday </span> </div>
                  </label> <label for="Q19b" class="box second">
                      <div class="course"> <span class="circle"></span> <span class="subject"> Once in a week </span> </div>
                  </label> <label for="Q19c" class="box third">
                      <div class="course"> <span class="circle"></span> <span class="subject">Once in a month </span> </div>
                  </label> <label for="Q19d" class="box forth">
                      <div class="course"> <span class="circle"></span> <span class="subject"> Once in a year </span> </div>
                  </label>
              </div>
          </div>
      </section>
      
      <div class="col-12">
          <div class="d-flex justify-content-center"> <input class="btn btn-outline-danger" type="submit" value='Show Result'>
  </div>
      </div>
</form>

</section>
<!-- Vendor JS Files -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<script
    src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    data-auto-a11y="true"
  ></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>