/* body {
    margin: 0px;
    text-align: center;
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
  
  .card {
    background-color: rgb(82, 221, 214);
    padding: 10px;
    margin: 10px;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  #submit {
    background-color: green;
    padding: 10px;
    margin: 5px;
    color: white;
    border-radius: 10px;
  }
  
  #reset {
    background-color: red;
    padding: 10px;
    margin: 5px;
    color: white;
    border-radius: 10px;
  } */

/* body {
  margin-top: 20px;
} */

/* Header */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

a {
  color: #1977cc;
  text-decoration: none;
}

a:hover {
  color: #3291e6;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #1977cc;
  border-top-color: #d1e6f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #1977cc;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #298ce5;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.datepicker-dropdown {
  padding: 20px !important;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 8px 0 8px 20px;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #2c4964;
  white-space: nowrap;
  transition: 0.3s;
  border-bottom: 2px solid #fff;
  padding: 5px 2px;
}

.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #1977cc;
  border-color: #1977cc;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 20px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #082744;
  border: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #1977cc;
}


.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #2c4964;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(28, 47, 65, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile > ul > li {
  padding: 0;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #2c4964;
  border: none;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #1977cc;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #1977cc;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #fff;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  z-index: 996;
}

#topbar.topbar-scrolled {
  top: -40px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #444444;
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: #1977cc;
}

#topbar .contact-info i {
  color: #1977cc;
  padding-right: 4px;
  margin-left: 15px;
  line-height: 0;
}

#topbar .contact-info i:first-child {
  margin-left: 0;
}

#topbar .social-links a {
  color: #437099;
  padding-left: 15px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #1977cc;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  top: 40px;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#header.header-scrolled {
  top: 0;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #2c4964;
}

#header .logo img {
  max-height: 40px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #1977cc;
  text-decoration: none;
}

a:hover {
  color: #3291e6;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #1977cc;
  border-top-color: #d1e6f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/**
* Appointment Button *
*/
.appointment-btn {
  margin-left: 25px;
  background: #1977cc;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.appointment-btn:hover {
  background: #166ab5;
  color: #fff;
}

@media (max-width: 768px) {
  .appointment-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

/* Form CSS */
.masthead {
  padding: 3rem 0 7rem;
  position: relative;
  background-color: #dd3d31;
  background-image: url(https://startbootstrap.com/assets/img/overlay.svg),
    linear-gradient(45deg, #ce4a41 0%, #c2362c 100%);
  background-size: cover;
  z-index: 0;
}

.masthead svg.wave {
  position: absolute;
  bottom: -1px;
  left: 0;
}

.masthead h1 {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.1;
  z-index: 1;
}

.masthead h2 {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
  z-index: 1;
  font-size: 1.2rem;
}

.masthead a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
  z-index: 1;
}

@media (min-width: 992px) {
  .masthead h1 {
    font-size: 3rem;
  }
  .masthead h2 {
    font-size: 1.5rem;
  }
}

.masthead .masthead-cards {
  position: relative;
  z-index: 1;
}

.masthead .masthead-cards .shape {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.masthead .masthead-cards .card {
  opacity: 1;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.05rem;
  color: #212529;
  transition: 0.15s all;
}

.masthead .masthead-cards .card:hover {
  margin-top: -0.25rem;
  margin-bottom: 0.25rem;
}

.masthead .masthead-cards .card:active {
  margin-top: inherit;
  margin-bottom: inherit;
}

.masthead .masthead-cards .card.border-bottom-blue:hover {
  color: #2092ed;
}

.masthead .masthead-cards .card.border-bottom-green:hover {
  color: #28a745;
}

.masthead .masthead-cards .card.border-bottom-red:hover {
  color: #dd3d31;
}

.masthead .masthead-cards .card.border-bottom-yellow:hover {
  color: #ffc107;
}

.masthead-page {
  padding: 1rem 0 4rem;
}

@media (min-width: 992px) {
  .masthead-page h1 {
    font-size: 2.5rem;
  }
}

.border-bottom-yellow {
  border-color: #ffc107 !important;
}

.border-bottom-red {
  border-color: #dd3d31 !important;
}

.border-bottom-blue {
  border-color: #2092ed !important;
}

.border-bottom-green {
  border-color: #28a745 !important;
}

.border-bottom-blue,
.border-bottom-green,
.border-bottom-red,
.border-bottom-yellow {
  border-bottom: 0.4rem solid !important;
}
.shadow-lg {
  box-shadow: 0 2rem 1.5rem -1.5rem rgba(33, 37, 41, 0.15),
    0 0 1.5rem 0.5rem rgba(33, 37, 41, 0.05) !important;
}
.border-0 {
  border: 0 !important;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0%;
}

form {
  background-color: bisque;
  padding: 10px;
}

.bg-12 {
  margin: 30px auto;
  background: white;
  padding: 20px 15px;
}

label.box {
  display: flex;
  margin-top: 10px;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
}
#male:checked ~ label.male,
#female:checked ~ label.female,
#currentSmoker_yes:checked ~ label.currentSmoker_yes,
#currentSmoker_no:checked ~ label.currentSmoker_no,
#BPMeds_yes:checked ~ label.BPMeds_yes,
#BPMeds_no:checked ~ label.BPMeds_no,
#prevalentStroke_yes:checked ~ label.prevalentStroke_yes,
#prevalentStroke_no:checked ~ label.prevalentStroke_no,
#prevalentHyp_yes:checked ~ label.prevalentHyp_yes,
#prevalentHyp_no:checked ~ label.prevalentHyp_no,
#diabetes_yes:checked ~ label.diabetes_yes,
#diabetes_no:checked ~ label.diabetes_no,
#one:checked ~ label.first,
#two:checked ~ label.second,
#three:checked ~ label.third,
#four:checked ~ label.forth,
#five:checked ~ label.fifth,
#six:checked ~ label.sixth,
#seven:checked ~ label.seveth,
#eight:checked ~ label.eighth,
#nine:checked ~ label.ninth,
#tenth:checked ~ label.tenth,
#Q5a:checked ~ label.fiva,
#Q5b:checked ~ label.fivb,
#Q6a:checked ~ label.fiva,
#Q6b:checked ~ label.fivb,
#Q7a:checked ~ label.fiva,
#Q7b:checked ~ label.fivb,
#Q8a:checked ~ label.fiva,
#Q8b:checked ~ label.fivb,
#Q9a:checked ~ label.fiva,
#Q9b:checked ~ label.fivb,
#Q10a:checked ~ label.fiva,
#Q10b:checked ~ label.fivb,
#Q11a:checked ~ label.fiva,
#Q11b:checked ~ label.fivb,
#Q11c:checked ~ label.fivc,
#Q12a:checked ~ label.fiva,
#Q12b:checked ~ label.fivb,
#Q15a:checked ~ label.fiva,
#Q15b:checked ~ label.fivb,
#Q16a:checked ~ label.fiva,
#Q16b:checked ~ label.fivb,
#Q17a:checked ~ label.fiva,
#Q17b:checked ~ label.fivb,
#Q18a:checked ~ label.fiva,
#Q18b:checked ~ label.fivb,
#Q19a:checked ~ label.first,
#Q19b:checked ~ label.second,
#Q19c:checked ~ label.third,
#Q19d:checked ~ label.forth {
  border-color: #dd3d31;
}
#currentSmoker_yes:checked ~ label.currentSmoker_yes .circle,
#currentSmoker_no:checked ~ label.currentSmoker_no .circle,
#BPMeds_yes:checked ~ label.BPMeds_yes .circle,
#BPMeds_no:checked ~ label.BPMeds_no .circle,
#prevalentStroke_yes:checked ~ label.prevalentStroke_yes .circle,
#prevalentStroke_no:checked ~ label.prevalentStroke_no .circle,
#prevalentHyp_yes:checked ~ label.prevalentHyp_yes .circle,
#prevalentHyp_no:checked ~ label.prevalentHyp_no .circle,
#diabetes_yes:checked ~ label.diabetes_yes .circle,
#diabetes_no:checked ~ label.diabetes_no .circle,
#male:checked ~ label.male .circle,
#female:checked ~ label.female .circle,
#one:checked ~ label.first .circle,
#two:checked ~ label.second .circle,
#three:checked ~ label.third .circle,
#four:checked ~ label.forth .circle,
#five:checked ~ label.fifth .circle,
#six:checked ~ label.sixth .circle,
#seven:checked ~ label.seveth .circle,
#eight:checked ~ label.eighth .circle,
#nine:checked ~ label.ninth .circle,
#ten:checked ~ label.tenth .circle,
#Q5a:checked ~ label.fiva .circle,
#Q5b:checked ~ label.fivb .circle,
#Q6a:checked ~ label.fiva .circle,
#Q6b:checked ~ label.fivb .circle,
#Q7a:checked ~ label.fiva .circle,
#Q7b:checked ~ label.fivb .circle,
#Q8a:checked ~ label.fiva .circle,
#Q8b:checked ~ label.fivb .circle,
#Q9a:checked ~ label.fiva .circle,
#Q9b:checked ~ label.fivb .circle,
#Q10a:checked ~ label.fiva .circle,
#Q10b:checked ~ label.fivb .circle,
#Q11a:checked ~ label.fiva .circle,
#Q11b:checked ~ label.fivb .circle,
#Q11c:checked ~ label.fivc .circle,
#Q12a:checked ~ label.fiva .circle,
#Q12b:checked ~ label.fivb .circle,
#Q15a:checked ~ label.fiva .circle,
#Q15b:checked ~ label.fivb .circle,
#Q16a:checked ~ label.fiva .circle,
#Q16b:checked ~ label.fivb .circle,
#Q17a:checked ~ label.fiva .circle,
#Q17b:checked ~ label.fivb .circle,
#Q18a:checked ~ label.fiva .circle,
#Q18b:checked ~ label.fivb .circle,
#Q19a:checked ~ label.first .circle,
#Q19b:checked ~ label.second .circle,
#Q19c:checked ~ label.third .circle,
#Q19d:checked ~ label.forth .circle {
  border: 6px solid #dd3d31;
  background-color: #fff;
}

label.box:hover {
  background: #e9b5b2;
}

label.box .course {
  display: flex;
  align-items: center;
  width: 100%;
}
label.box .circle {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid #ddd;
  display: inline-block;
}

input[type="radio"] {
  display: none;
}

.btn btn-outline-danger {
  border-radius: 25px;
  margin-top: 20px;
}

@media (max-width: 450px) {
  .subject {
    font-size: 12px;
  }
}
